.backgroundBehind {
    position: relative;
    img: {
      max-height: 435px;
      height: 100%;
    }
    .title {
      position: absolute;
      left: 50%;
      top: 50%; 
      transform: translate(-50%, -50%);
      color: var(--white);
      text-align: center;
      font-family: 'Mulish';
      font-size: 3.75rem;
      font-weight: 800;
    }
    @media screen and (max-width: 665px){
      .title {
        font-size: 24px;
      }
    }
  }

  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 150px 0;
    flex-wrap: wrap;

    .mainBranch {
      padding: 54px 58px;
      background: #1C2752;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media screen and (max-width: 1280px){
        justify-content: center;
        max-width: 604px;
        width: 100%;
        gap: 40px;
    }
     
      
      .branch {
        color: #FFB342;
        text-align: center;
        font-family: 'Mulish';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .border {
        border-bottom: 1px solid #D2D2D2;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 18px;
        .address {
          color: #FFB342;
          font-family: 'Mulish';
          font-size: 18px;
          font-weight: 700;
        }
        .addressTitle {
          color: #FFF;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }

    .right {
      max-width: 643px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

  }



  


