$border-color: #F1F1F1;
$background: #FDFDFD;


  .navbar {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 11px 0px;
    .ul {
        display: flex;
        align-items: center;
        color: var(--black);
        gap: 32px;
        font-weight: 500;
        text-transform: capitalize;
        li{
          font-family: 'Mulish';
          color: var(--white);
          text-align: center;
          font-size: 14px;
          font-weight: 700;
          line-height: normal;
          font-style: normal;
          cursor: pointer;
          &:hover {
            color: #FFB342;
          }
        }
    }
    .altButton {
        text-transform: uppercase;
        padding: 15px 30px;
        border-radius: 8px;
        border: 2px solid var(--white);
        font-family: "Inter";
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        color: var(--white);
    }
  }

@media (max-width: 910px) {
  .container {
    display: none; 
  }

}




  
  
  