.footer {
    background-image: url('../../assets/images/Footer.png');
    height: 605px;
    margin-top: 362px;
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: 'Mulish';
    gap: 52px;
    .content {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        @media screen and (max-width: 1280px){
            flex-wrap: wrap;
            gap: 20px;
            }
        @media screen and (max-width: 963px){
            flex-wrap: wrap;
            flex-direction: column;
            gap: 40px;
            }
        .logo_title {
            color: #1C2752;
            font-size: 16px;
            font-weight: 700;
            line-height: 28px;
        }
        .div {
            display: flex;
            gap: 120px;
            margin-top: 150px;
        @media screen and (max-width: 1280px){
            justify-content: space-evenly;
            flex-wrap: wrap;
            max-width: 604px;
            width: 100%;
            margin-top: 0;
            gap: 0;
            }
        @media screen and (max-width: 478px){
            gap: 50px;
            flex-direction: row;
            justify-content: flex-start;
            }
            h2 {
                color: #1C2752;
                font-family: 'Mulish';
                font-size: 18px;
                font-weight: 800;
            }
            p {
                font-size: 16px;
                color: #1C2752;
                &:hover {
                    color: var(--white);
                    cursor: pointer;
                }
            }
        }

        .flexT {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @media screen and (max-width: 478px){
                gap: 10px;
            }
        }
        .flexR {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @media screen and (max-width: 478px){
                gap: 10px;
            }
        }
    }
    
}

