  .gallery {
    display: flex;
    gap: 60px;
    margin: 0 auto;

    @media screen and (max-width: 665px){
      display: flex;
      flex-direction: column;
      max-width: 400px;
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    .card {
        position: relative;
        max-width: 384px;
        width: 100%;
        border-radius: 8px;
        transition: 1000ms all;
        transform-origin: center left;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
        outline: 1px solid linear-gradient(180deg, rgba(24, 59, 86, 0.00) 0%, rgba(22, 49, 70, 0.45) 45.38%, #152532 100%);
        overflow: hidden;
        img {
            width: 384px;
            height: 384px;
            object-fit: cover;
            border-radius: 4px;
          }
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            figcaption {
                font-size: 0.6rem;
                position: absolute;
                display: block;
                color: var(--white);
                left: 0px;
                bottom: 0px;
                padding-left: 12px;
                padding-bottom: 10px;
                font-family: 'Mulish';
                .name {
                    font-size: 36px;
                    font-weight: 800;
                    line-height: 48px; 
                    letter-spacing: 0.2px;
                }
                .position {
                    font-size: 14px;
                    font-style: italic;
                    font-family: 'Open Sans';
                    font-weight: 600;
                }
              }
          }
      }
  }
  
  figcaption {
    display: none;
  }
  
  .card:hover ~ .card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(22px);
  }
  